

<app-landingpage></app-landingpage>
<div>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim vitae rerum, fuga ipsa libero quis, voluptas illum eaque obcaecati molestiae illo veniam excepturi dolores aperiam unde adipisci nemo facilis quidem deserunt reiciendis. Repellat fugit earum soluta, sit veritatis similique! Suscipit omnis repellat eum magnam laboriosam explicabo quam nostrum eveniet ex dolores. Necessitatibus laudantium sed repellat eligendi exercitationem, ab dolore id nihil quo doloribus veniam consequuntur saepe mollitia architecto, fugiat consequatur beatae repellendus ex inventore, odio enim. Similique saepe, velit tempore obcaecati maxime blanditiis corrupti amet fugiat odio sed illo, reprehenderit ea perferendis aspernatur illum alias quod quis assumenda cum sint.
</div>
<router-outlet>

</router-outlet>
